@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

/* GENERAL SETTING */

body {
    color: #393d41;
    font-size: 1.4rem;
    font-family: 'Open Sans';
    line-height: 1.65;
    text-align: center;
}

button {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    background-color: #f04c2f;
    color: white;
    text-transform: uppercase;
    border: none;
    border-radius: 5px;
    padding: 15px 25px;
    margin: 30px;
    font-size: 17px;
}

button:hover {
    background-color: #b93b25;
}

h1,
h3 {
    color: #25a2c3;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    line-height: 1.5;
}

h1 {
    font-size: 35px;
    margin: 30px;
}

h3 {
    font-size: 20px;
    margin: 10px;
}

/* HEADER */

header {
    background-color: black;
    padding: 30px;
}

header img {
    width: 150px;
}

/* MAIN */

section {
    margin-bottom: 13px;
    padding: 20px;
}

/* MAIN -> work */

#work {
    margin: 30px 0;
}

/* MAIN -> corso */

#corso {
    background-image: url("../images/banner.jpg");
    background-position: center;
    background-size: cover;
    height: 400px;
}

section img {
    border-radius: 50%;
    width: 330px;
    margin: 30px;
}

/* MAIN -> testimonianze */

#testimonianze {
    background-color: #e22d0e;
    color: white;
}

#testimonianze h1 {
    margin: 38px 0;
    color: white;
}

blockquote {
    font-size: 18px;
}

figcaption {
    margin: 24px;
}

.rank {
    font-size: 16px;
}

/* MAIN -> schede */
.scheda img {
    border-radius: 0px;
    width: 100%;
    margin: 0;
}

.scheda {
    border: 1px solid #dee1e3;
    border-radius: 5px;
    max-width: 800px;
    overflow: hidden;
    margin: 35px auto;
}

.scheda p {
    font-size: 1.2rem;
    margin-bottom: 27px;
}

/* FOOTER */

footer {
    background-color: #25a2c3;
    color: #c8e7f0;
}

footer h1 {
    color: white;
    padding-top: 50px;
}

footer a {
    color: #c8e7f0;
}

hr {
    width: 250px;
    margin: 30px auto;
}

#copyright {
    font-size: 16px;
    padding-bottom: 50px;
}